#### Tabla de Amortización

In [ ]:
import numpy_financial as npf
import tabulate as tab

In [ ]:
capital = 190000
tasa = 0.325/12
tasa_adicional = .0064                             # Tasa contratada 32.49%
tasa_total = tasa + tasa_adicional
plazo = 60

cuota = round(npf.pmt(tasa_total, plazo, -capital, 0), 0)
datos = []
saldo = capital

In [ ]:
for i in range(1, plazo + 1):
    pago_capital = npf.ppmt(tasa_total,i, plazo, -capital, 0)
    pago_int = cuota - pago_capital
    saldo -= pago_capital
    linea = [i,format( cuota, "0,.0f"), format(pago_capital, "0,.0f"),
            format(pago_int, "0,.0f"),format(saldo, "0,.0f")]
    datos.append(linea)

print(tab.tabulate(datos, headers = ["Periodo", "Cuota", "Capital", "Intereses","saldo"],
      tablefmt = "psql"))

+-----------+---------+-----------+-------------+---------+
|   Periodo | Cuota   | Capital   | Intereses   | saldo   |
|-----------+---------+-----------+-------------+---------|
|         1 | 7,386   | 1,024     | 6,362       | 188,976 |
|         2 | 7,386   | 1,058     | 6,328       | 187,918 |
|         3 | 7,386   | 1,093     | 6,293       | 186,825 |
|         4 | 7,386   | 1,130     | 6,256       | 185,695 |
|         5 | 7,386   | 1,168     | 6,218       | 184,527 |
|         6 | 7,386   | 1,207     | 6,179       | 183,320 |
|         7 | 7,386   | 1,247     | 6,139       | 182,073 |
|         8 | 7,386   | 1,289     | 6,097       | 180,784 |
|         9 | 7,386   | 1,332     | 6,054       | 179,451 |
|        10 | 7,386   | 1,377     | 6,009       | 178,074 |
|        11 | 7,386   | 1,423     | 5,963       | 176,651 |
|        12 | 7,386   | 1,471     | 5,915       | 175,181 |
|        13 | 7,386   | 1,520     | 5,866       | 173,661 |
|        14 | 7,386   | 1,571     | 5,815       | 172,090 |
|        15 | 7,386   | 1,623     | 5,763       | 170,467 |
|        16 | 7,386   | 1,678     | 5,708       | 168,789 |
|        17 | 7,386   | 1,734     | 5,652       | 167,055 |
|        18 | 7,386   | 1,792     | 5,594       | 165,263 |
|        19 | 7,386   | 1,852     | 5,534       | 163,411 |
|        20 | 7,386   | 1,914     | 5,472       | 161,497 |
|        21 | 7,386   | 1,978     | 5,408       | 159,519 |
|        22 | 7,386   | 2,044     | 5,342       | 157,475 |
|        23 | 7,386   | 2,113     | 5,273       | 155,362 |
|        24 | 7,386   | 2,184     | 5,202       | 153,178 |
|        25 | 7,386   | 2,257     | 5,129       | 150,922 |
|        26 | 7,386   | 2,332     | 5,054       | 148,590 |
|        27 | 7,386   | 2,410     | 4,976       | 146,179 |
|        28 | 7,386   | 2,491     | 4,895       | 143,688 |
|        29 | 7,386   | 2,574     | 4,812       | 141,114 |
|        30 | 7,386   | 2,661     | 4,725       | 138,453 |
|        31 | 7,386   | 2,750     | 4,636       | 135,704 |
|        32 | 7,386   | 2,842     | 4,544       | 132,862 |
|        33 | 7,386   | 2,937     | 4,449       | 129,925 |
|        34 | 7,386   | 3,035     | 4,351       | 126,890 |
|        35 | 7,386   | 3,137     | 4,249       | 123,753 |
|        36 | 7,386   | 3,242     | 4,144       | 120,511 |
|        37 | 7,386   | 3,350     | 4,036       | 117,161 |
|        38 | 7,386   | 3,463     | 3,923       | 113,698 |
|        39 | 7,386   | 3,579     | 3,807       | 110,120 |
|        40 | 7,386   | 3,698     | 3,688       | 106,421 |
|        41 | 7,386   | 3,822     | 3,564       | 102,599 |
|        42 | 7,386   | 3,950     | 3,436       | 98,649  |
|        43 | 7,386   | 4,082     | 3,304       | 94,567  |
|        44 | 7,386   | 4,219     | 3,167       | 90,347  |
|        45 | 7,386   | 4,360     | 3,026       | 85,987  |
|        46 | 7,386   | 4,506     | 2,880       | 81,481  |
|        47 | 7,386   | 4,657     | 2,729       | 76,823  |
|        48 | 7,386   | 4,813     | 2,573       | 72,010  |
|        49 | 7,386   | 4,974     | 2,412       | 67,036  |
|        50 | 7,386   | 5,141     | 2,245       | 61,895  |
|        51 | 7,386   | 5,313     | 2,073       | 56,582  |
|        52 | 7,386   | 5,491     | 1,895       | 51,091  |
|        53 | 7,386   | 5,675     | 1,711       | 45,416  |
|        54 | 7,386   | 5,865     | 1,521       | 39,551  |
|        55 | 7,386   | 6,061     | 1,325       | 33,490  |
|        56 | 7,386   | 6,264     | 1,122       | 27,226  |
|        57 | 7,386   | 6,474     | 912         | 20,752  |
|        58 | 7,386   | 6,691     | 695         | 14,061  |
|        59 | 7,386   | 6,915     | 471         | 7,146   |
|        60 | 7,386   | 7,146     | 240         | -0      |
+-----------+---------+-----------+-------------+---------+

#### Tabla de amortización (bing) sin el IVA de los intereses

In [ ]:
import numpy_financial as npf
import tabulate as tab

In [ ]:
capital = 268000
tasa = 0.024166        # 29% anual
tasa_adicional = 0
tasa_total = tasa + tasa_adicional
plazo = 60
cuota = round(npf.pmt(tasa_total, plazo, -capital, 0), 0)
datos = []
saldo = capital

In [ ]:
for i in range(1, plazo + 1):
    pago_capital = npf.ppmt(tasa ,i, plazo, -capital, 0)
    pago_int = cuota - pago_capital
    saldo -= pago_capital
    linea = [i,format( cuota, "0,.0f"), format(pago_capital, "0,.0f"),
            format(pago_int, "0,.0f"),format(saldo, "0,.0f")]
    datos.append(linea)

print(tab.tabulate(datos, headers = ["Periodo", "Cuota", "Capital", "Intereses","saldo"],
      tablefmt = "psql"))

+-----------+---------+-----------+-------------+---------+
|   Periodo | Cuota   | Capital   | Intereses   | saldo   |
|-----------+---------+-----------+-------------+---------|
|         1 | 8,507   | 2,030     | 6,477       | 265,970 |
|         2 | 8,507   | 2,079     | 6,428       | 263,891 |
|         3 | 8,507   | 2,130     | 6,377       | 261,761 |
|         4 | 8,507   | 2,181     | 6,326       | 259,580 |
|         5 | 8,507   | 2,234     | 6,273       | 257,346 |
|         6 | 8,507   | 2,288     | 6,219       | 255,059 |
|         7 | 8,507   | 2,343     | 6,164       | 252,716 |
|         8 | 8,507   | 2,400     | 6,107       | 250,316 |
|         9 | 8,507   | 2,458     | 6,049       | 247,859 |
|        10 | 8,507   | 2,517     | 5,990       | 245,342 |
|        11 | 8,507   | 2,578     | 5,929       | 242,764 |
|        12 | 8,507   | 2,640     | 5,867       | 240,124 |
|        13 | 8,507   | 2,704     | 5,803       | 237,420 |
|        14 | 8,507   | 2,769     | 5,738       | 234,651 |
|        15 | 8,507   | 2,836     | 5,671       | 231,815 |
|        16 | 8,507   | 2,905     | 5,602       | 228,910 |
|        17 | 8,507   | 2,975     | 5,532       | 225,935 |
|        18 | 8,507   | 3,047     | 5,460       | 222,888 |
|        19 | 8,507   | 3,120     | 5,387       | 219,768 |
|        20 | 8,507   | 3,196     | 5,311       | 216,572 |
|        21 | 8,507   | 3,273     | 5,234       | 213,299 |
|        22 | 8,507   | 3,352     | 5,155       | 209,947 |
|        23 | 8,507   | 3,433     | 5,074       | 206,514 |
|        24 | 8,507   | 3,516     | 4,991       | 202,998 |
|        25 | 8,507   | 3,601     | 4,906       | 199,397 |
|        26 | 8,507   | 3,688     | 4,819       | 195,709 |
|        27 | 8,507   | 3,777     | 4,730       | 191,932 |
|        28 | 8,507   | 3,868     | 4,639       | 188,063 |
|        29 | 8,507   | 3,962     | 4,545       | 184,101 |
|        30 | 8,507   | 4,058     | 4,449       | 180,044 |
|        31 | 8,507   | 4,156     | 4,351       | 175,888 |
|        32 | 8,507   | 4,256     | 4,251       | 171,632 |
|        33 | 8,507   | 4,359     | 4,148       | 167,273 |
|        34 | 8,507   | 4,464     | 4,043       | 162,808 |
|        35 | 8,507   | 4,572     | 3,935       | 158,236 |
|        36 | 8,507   | 4,683     | 3,824       | 153,553 |
|        37 | 8,507   | 4,796     | 3,711       | 148,757 |
|        38 | 8,507   | 4,912     | 3,595       | 143,846 |
|        39 | 8,507   | 5,031     | 3,476       | 138,815 |
|        40 | 8,507   | 5,152     | 3,355       | 133,663 |
|        41 | 8,507   | 5,277     | 3,230       | 128,386 |
|        42 | 8,507   | 5,404     | 3,103       | 122,982 |
|        43 | 8,507   | 5,535     | 2,972       | 117,448 |
|        44 | 8,507   | 5,668     | 2,839       | 111,779 |
|        45 | 8,507   | 5,805     | 2,702       | 105,974 |
|        46 | 8,507   | 5,946     | 2,561       | 100,028 |
|        47 | 8,507   | 6,089     | 2,418       | 93,938  |
|        48 | 8,507   | 6,237     | 2,270       | 87,702  |
|        49 | 8,507   | 6,387     | 2,120       | 81,315  |
|        50 | 8,507   | 6,542     | 1,965       | 74,773  |
|        51 | 8,507   | 6,700     | 1,807       | 68,073  |
|        52 | 8,507   | 6,862     | 1,645       | 61,212  |
|        53 | 8,507   | 7,027     | 1,480       | 54,184  |
|        54 | 8,507   | 7,197     | 1,310       | 46,987  |
|        55 | 8,507   | 7,371     | 1,136       | 39,616  |
|        56 | 8,507   | 7,549     | 958         | 32,066  |
|        57 | 8,507   | 7,732     | 775         | 24,335  |
|        58 | 8,507   | 7,919     | 588         | 16,416  |
|        59 | 8,507   | 8,110     | 397         | 8,306   |
|        60 | 8,507   | 8,306     | 201         | -0      |
+-----------+---------+-----------+-------------+---------+

In [ ]:
import pandas as pd                             # NO
import numpy as np

In [ ]:
monto_prestamo = 268000
#tasa_interes = 0.29/ 12
tasa_mensual = 0.365/12
plazo_meses = 5*12

In [ ]:
pago_mensual = monto_prestamo * (tasa_mensual * (1 + tasa_mensual)** plazo_meses) / (( 1
+ tasa_mensual )**plazo_meses - 1)

In [ ]:
# Tabla de amortización
tabla_amort = pd.DataFrame({"Mes": np.arange(1 , plazo_meses + 1)})
tabla_amort ["Pago Mensual"] = pago_mensual
tabla_amort ["Intereses"] = monto_prestamo * tasa_mensual
tabla_amort ["Principal"]= tabla_amort["Pago Mensual"] - tabla_amort["Intereses"]
tabla_amort ["Balance"] = monto_prestamo - tabla_amort["Principal"].cumsum()

print(tabla_amort,2)               # No funcionan los 2 digitos

    Mes  Pago Mensual    Intereses    Principal        Balance
0     1   9770.241662  8151.666667  1618.574996  266381.425004
1     2   9770.241662  8151.666667  1618.574996  264762.850009
2     3   9770.241662  8151.666667  1618.574996  263144.275013
3     4   9770.241662  8151.666667  1618.574996  261525.700018
4     5   9770.241662  8151.666667  1618.574996  259907.125022
5     6   9770.241662  8151.666667  1618.574996  258288.550027
6     7   9770.241662  8151.666667  1618.574996  256669.975031
7     8   9770.241662  8151.666667  1618.574996  255051.400036
8     9   9770.241662  8151.666667  1618.574996  253432.825040
9    10   9770.241662  8151.666667  1618.574996  251814.250045
10   11   9770.241662  8151.666667  1618.574996  250195.675049
11   12   9770.241662  8151.666667  1618.574996  248577.100054
12   13   9770.241662  8151.666667  1618.574996  246958.525058
13   14   9770.241662  8151.666667  1618.574996  245339.950063
14   15   9770.241662  8151.666667  1618.574996  243721.375067
15   16   9770.241662  8151.666667  1618.574996  242102.800071
16   17   9770.241662  8151.666667  1618.574996  240484.225076
17   18   9770.241662  8151.666667  1618.574996  238865.650080
18   19   9770.241662  8151.666667  1618.574996  237247.075085
19   20   9770.241662  8151.666667  1618.574996  235628.500089
20   21   9770.241662  8151.666667  1618.574996  234009.925094
21   22   9770.241662  8151.666667  1618.574996  232391.350098
22   23   9770.241662  8151.666667  1618.574996  230772.775103
23   24   9770.241662  8151.666667  1618.574996  229154.200107
24   25   9770.241662  8151.666667  1618.574996  227535.625112
25   26   9770.241662  8151.666667  1618.574996  225917.050116
26   27   9770.241662  8151.666667  1618.574996  224298.475121
27   28   9770.241662  8151.666667  1618.574996  222679.900125
28   29   9770.241662  8151.666667  1618.574996  221061.325130
29   30   9770.241662  8151.666667  1618.574996  219442.750134
30   31   9770.241662  8151.666667  1618.574996  217824.175138
31   32   9770.241662  8151.666667  1618.574996  216205.600143
32   33   9770.241662  8151.666667  1618.574996  214587.025147
33   34   9770.241662  8151.666667  1618.574996  212968.450152
34   35   9770.241662  8151.666667  1618.574996  211349.875156
35   36   9770.241662  8151.666667  1618.574996  209731.300161
36   37   9770.241662  8151.666667  1618.574996  208112.725165
37   38   9770.241662  8151.666667  1618.574996  206494.150170
38   39   9770.241662  8151.666667  1618.574996  204875.575174
39   40   9770.241662  8151.666667  1618.574996  203257.000179
40   41   9770.241662  8151.666667  1618.574996  201638.425183
41   42   9770.241662  8151.666667  1618.574996  200019.850188
42   43   9770.241662  8151.666667  1618.574996  198401.275192
43   44   9770.241662  8151.666667  1618.574996  196782.700197
44   45   9770.241662  8151.666667  1618.574996  195164.125201
45   46   9770.241662  8151.666667  1618.574996  193545.550205
46   47   9770.241662  8151.666667  1618.574996  191926.975210
47   48   9770.241662  8151.666667  1618.574996  190308.400214
48   49   9770.241662  8151.666667  1618.574996  188689.825219
49   50   9770.241662  8151.666667  1618.574996  187071.250223
50   51   9770.241662  8151.666667  1618.574996  185452.675228
51   52   9770.241662  8151.666667  1618.574996  183834.100232
52   53   9770.241662  8151.666667  1618.574996  182215.525237
53   54   9770.241662  8151.666667  1618.574996  180596.950241
54   55   9770.241662  8151.666667  1618.574996  178978.375246
55   56   9770.241662  8151.666667  1618.574996  177359.800250
56   57   9770.241662  8151.666667  1618.574996  175741.225255
57   58   9770.241662  8151.666667  1618.574996  174122.650259
58   59   9770.241662  8151.666667  1618.574996  172504.075264
59   60   9770.241662  8151.666667  1618.574996  170885.500268 2

#### Tabla de amortización (bing) con el IVA de los intereses

##### Crédito por 268000

In [ ]:
import numpy_financial as npf
import tabulate as tab

In [ ]:
capital = 268000                              # Para calcular el IVA de los intereses , calculé
tasa = 0.024166      # 29%                    # una tasa adicional lo mas cercano a esta cantidad
tasa_adicional = .0062                        # y establecer una tasa total como la suma de la tasa
tasa_total = tasa + tasa_adicional            # tasa + tasa adicional cuya cantidad ya aparece en
plazo = 60
                                              # la tabla de amortización.
cuota = round(npf.pmt(tasa_total, plazo, -capital, 0), 0)
datos = []
saldo = capital

In [ ]:
for i in range(1, plazo + 1):
    pago_capital = npf.ppmt(tasa ,i, plazo, -capital, 0)
    pago_int = cuota - pago_capital
    saldo -= pago_capital
    linea = [i,format( cuota, "0,.0f"), format(pago_capital, "0,.0f"),
            format(pago_int, "0,.0f"),format(saldo, "0,.0f")]
    datos.append(linea)

print(tab.tabulate(datos, headers = ["Periodo", "Cuota", "Capital", "Intereses","saldo"],
      tablefmt = "psql"))

+-----------+---------+-----------+-------------+---------+
|   Periodo | Cuota   | Capital   | Intereses   | saldo   |
|-----------+---------+-----------+-------------+---------|
|         1 | 9,760   | 2,030     | 7,730       | 265,970 |
|         2 | 9,760   | 2,079     | 7,681       | 263,891 |
|         3 | 9,760   | 2,130     | 7,630       | 261,761 |
|         4 | 9,760   | 2,181     | 7,579       | 259,580 |
|         5 | 9,760   | 2,234     | 7,526       | 257,346 |
|         6 | 9,760   | 2,288     | 7,472       | 255,059 |
|         7 | 9,760   | 2,343     | 7,417       | 252,716 |
|         8 | 9,760   | 2,400     | 7,360       | 250,316 |
|         9 | 9,760   | 2,458     | 7,302       | 247,859 |
|        10 | 9,760   | 2,517     | 7,243       | 245,342 |
|        11 | 9,760   | 2,578     | 7,182       | 242,764 |
|        12 | 9,760   | 2,640     | 7,120       | 240,124 |
|        13 | 9,760   | 2,704     | 7,056       | 237,420 |
|        14 | 9,760   | 2,769     | 6,991       | 234,651 |
|        15 | 9,760   | 2,836     | 6,924       | 231,815 |
|        16 | 9,760   | 2,905     | 6,855       | 228,910 |
|        17 | 9,760   | 2,975     | 6,785       | 225,935 |
|        18 | 9,760   | 3,047     | 6,713       | 222,888 |
|        19 | 9,760   | 3,120     | 6,640       | 219,768 |
|        20 | 9,760   | 3,196     | 6,564       | 216,572 |
|        21 | 9,760   | 3,273     | 6,487       | 213,299 |
|        22 | 9,760   | 3,352     | 6,408       | 209,947 |
|        23 | 9,760   | 3,433     | 6,327       | 206,514 |
|        24 | 9,760   | 3,516     | 6,244       | 202,998 |
|        25 | 9,760   | 3,601     | 6,159       | 199,397 |
|        26 | 9,760   | 3,688     | 6,072       | 195,709 |
|        27 | 9,760   | 3,777     | 5,983       | 191,932 |
|        28 | 9,760   | 3,868     | 5,892       | 188,063 |
|        29 | 9,760   | 3,962     | 5,798       | 184,101 |
|        30 | 9,760   | 4,058     | 5,702       | 180,044 |
|        31 | 9,760   | 4,156     | 5,604       | 175,888 |
|        32 | 9,760   | 4,256     | 5,504       | 171,632 |
|        33 | 9,760   | 4,359     | 5,401       | 167,273 |
|        34 | 9,760   | 4,464     | 5,296       | 162,808 |
|        35 | 9,760   | 4,572     | 5,188       | 158,236 |
|        36 | 9,760   | 4,683     | 5,077       | 153,553 |
|        37 | 9,760   | 4,796     | 4,964       | 148,757 |
|        38 | 9,760   | 4,912     | 4,848       | 143,846 |
|        39 | 9,760   | 5,031     | 4,729       | 138,815 |
|        40 | 9,760   | 5,152     | 4,608       | 133,663 |
|        41 | 9,760   | 5,277     | 4,483       | 128,386 |
|        42 | 9,760   | 5,404     | 4,356       | 122,982 |
|        43 | 9,760   | 5,535     | 4,225       | 117,448 |
|        44 | 9,760   | 5,668     | 4,092       | 111,779 |
|        45 | 9,760   | 5,805     | 3,955       | 105,974 |
|        46 | 9,760   | 5,946     | 3,814       | 100,028 |
|        47 | 9,760   | 6,089     | 3,671       | 93,938  |
|        48 | 9,760   | 6,237     | 3,523       | 87,702  |
|        49 | 9,760   | 6,387     | 3,373       | 81,315  |
|        50 | 9,760   | 6,542     | 3,218       | 74,773  |
|        51 | 9,760   | 6,700     | 3,060       | 68,073  |
|        52 | 9,760   | 6,862     | 2,898       | 61,212  |
|        53 | 9,760   | 7,027     | 2,733       | 54,184  |
|        54 | 9,760   | 7,197     | 2,563       | 46,987  |
|        55 | 9,760   | 7,371     | 2,389       | 39,616  |
|        56 | 9,760   | 7,549     | 2,211       | 32,066  |
|        57 | 9,760   | 7,732     | 2,028       | 24,335  |
|        58 | 9,760   | 7,919     | 1,841       | 16,416  |
|        59 | 9,760   | 8,110     | 1,650       | 8,306   |
|        60 | 9,760   | 8,306     | 1,454       | -0      |
+-----------+---------+-----------+-------------+---------+

##### Crédito por 190000

In [ ]:
import numpy_financial as npf
import tabulate as tab

In [ ]:
capital = 190000
tasa = 0.02708      #30.5%
tasa_adicional = .0064
tasa_total = tasa + tasa_adicional
plazo = 60

cuota = round(npf.pmt(tasa_total, plazo, -capital, 0), 0)
datos = []
saldo = capital

In [ ]:
for i in range(1, plazo + 1):
    pago_capital = npf.ppmt(tasa ,i, plazo, -capital, 0)
    pago_int = cuota - pago_capital
    saldo -= pago_capital
    linea = [i,format( cuota, "0,.0f"), format(pago_capital, "0,.0f"),
            format(pago_int, "0,.0f"),format(saldo, "0,.0f")]
    datos.append(linea)

print(tab.tabulate(datos, headers = ["Periodo", "Cuota", "Capital", "Intereses","saldo"],
      tablefmt = "psql"))

+-----------+---------+-----------+-------------+---------+
|   Periodo | Cuota   | Capital   | Intereses   | saldo   |
|-----------+---------+-----------+-------------+---------|
|         1 | 7,385   | 1,296     | 6,089       | 188,704 |
|         2 | 7,385   | 1,332     | 6,053       | 187,372 |
|         3 | 7,385   | 1,368     | 6,017       | 186,005 |
|         4 | 7,385   | 1,405     | 5,980       | 184,600 |
|         5 | 7,385   | 1,443     | 5,942       | 183,157 |
|         6 | 7,385   | 1,482     | 5,903       | 181,676 |
|         7 | 7,385   | 1,522     | 5,863       | 180,154 |
|         8 | 7,385   | 1,563     | 5,822       | 178,591 |
|         9 | 7,385   | 1,605     | 5,780       | 176,985 |
|        10 | 7,385   | 1,649     | 5,736       | 175,337 |
|        11 | 7,385   | 1,693     | 5,692       | 173,643 |
|        12 | 7,385   | 1,739     | 5,646       | 171,904 |
|        13 | 7,385   | 1,786     | 5,599       | 170,117 |
|        14 | 7,385   | 1,835     | 5,550       | 168,283 |
|        15 | 7,385   | 1,885     | 5,500       | 166,398 |
|        16 | 7,385   | 1,936     | 5,449       | 164,462 |
|        17 | 7,385   | 1,988     | 5,397       | 162,475 |
|        18 | 7,385   | 2,042     | 5,343       | 160,433 |
|        19 | 7,385   | 2,097     | 5,288       | 158,336 |
|        20 | 7,385   | 2,154     | 5,231       | 156,182 |
|        21 | 7,385   | 2,212     | 5,173       | 153,970 |
|        22 | 7,385   | 2,272     | 5,113       | 151,698 |
|        23 | 7,385   | 2,334     | 5,051       | 149,364 |
|        24 | 7,385   | 2,397     | 4,988       | 146,967 |
|        25 | 7,385   | 2,462     | 4,923       | 144,505 |
|        26 | 7,385   | 2,528     | 4,857       | 141,977 |
|        27 | 7,385   | 2,597     | 4,788       | 139,380 |
|        28 | 7,385   | 2,667     | 4,718       | 136,713 |
|        29 | 7,385   | 2,739     | 4,646       | 133,974 |
|        30 | 7,385   | 2,814     | 4,571       | 131,160 |
|        31 | 7,385   | 2,890     | 4,495       | 128,270 |
|        32 | 7,385   | 2,968     | 4,417       | 125,302 |
|        33 | 7,385   | 3,048     | 4,337       | 122,254 |
|        34 | 7,385   | 3,131     | 4,254       | 119,123 |
|        35 | 7,385   | 3,216     | 4,169       | 115,907 |
|        36 | 7,385   | 3,303     | 4,082       | 112,604 |
|        37 | 7,385   | 3,392     | 3,993       | 109,212 |
|        38 | 7,385   | 3,484     | 3,901       | 105,728 |
|        39 | 7,385   | 3,578     | 3,807       | 102,149 |
|        40 | 7,385   | 3,675     | 3,710       | 98,474  |
|        41 | 7,385   | 3,775     | 3,610       | 94,699  |
|        42 | 7,385   | 3,877     | 3,508       | 90,822  |
|        43 | 7,385   | 3,982     | 3,403       | 86,840  |
|        44 | 7,385   | 4,090     | 3,295       | 82,750  |
|        45 | 7,385   | 4,201     | 3,184       | 78,549  |
|        46 | 7,385   | 4,314     | 3,071       | 74,234  |
|        47 | 7,385   | 4,431     | 2,954       | 69,803  |
|        48 | 7,385   | 4,551     | 2,834       | 65,252  |
|        49 | 7,385   | 4,675     | 2,710       | 60,577  |
|        50 | 7,385   | 4,801     | 2,584       | 55,776  |
|        51 | 7,385   | 4,931     | 2,454       | 50,845  |
|        52 | 7,385   | 5,065     | 2,320       | 45,780  |
|        53 | 7,385   | 5,202     | 2,183       | 40,578  |
|        54 | 7,385   | 5,343     | 2,042       | 35,236  |
|        55 | 7,385   | 5,487     | 1,898       | 29,748  |
|        56 | 7,385   | 5,636     | 1,749       | 24,112  |
|        57 | 7,385   | 5,789     | 1,596       | 18,324  |
|        58 | 7,385   | 5,945     | 1,440       | 12,378  |
|        59 | 7,385   | 6,106     | 1,279       | 6,272   |
|        60 | 7,385   | 6,272     | 1,113       | -0      |
+-----------+---------+-----------+-------------+---------+

In [ ]:
import numpy_financial as npf
import tabulate as tab

In [ ]:
capital = 50000                             # Para calcular el IVA de los intereses , calculé
tasa = 0.019        # 23.9%                 # una tasa adicional lo mas cercano a esta cantidad
tasa_adicional = 0                          # y establecer una tasa total como la suma de la tasa
tasa_total = tasa + tasa_adicional          # tasa + tasa adicional cuya cantidad ya aparece en
plazo = 48                                  # la tabla de amortización
cuota = round(npf.pmt(tasa_total, plazo, -capital, 0), 0)
datos = []
saldo = capital                              # NO ESTAN COBRANDO EL IVA DE LOS INTERESES

In [ ]:
for i in range(1, plazo + 1):
    pago_capital = npf.ppmt(tasa ,i, plazo, -capital, 0)
    pago_int = cuota - pago_capital
    saldo -= pago_capital
    linea = [i,format( cuota, "0,.0f"), format(pago_capital, "0,.0f"),
            format(pago_int, "0,.0f"),format(saldo, "0,.0f")]
    datos.append(linea)

print(tab.tabulate(datos, headers = ["Periodo", "Cuota", "Capital", "Intereses","saldo"],
      tablefmt = "psql"))

+-----------+---------+-----------+-------------+---------+
|   Periodo | Cuota   | Capital   |   Intereses | saldo   |
|-----------+---------+-----------+-------------+---------|
|         1 | 1,597   | 647       |         950 | 49,353  |
|         2 | 1,597   | 659       |         938 | 48,694  |
|         3 | 1,597   | 672       |         925 | 48,022  |
|         4 | 1,597   | 685       |         912 | 47,337  |
|         5 | 1,597   | 698       |         899 | 46,639  |
|         6 | 1,597   | 711       |         886 | 45,928  |
|         7 | 1,597   | 724       |         873 | 45,204  |
|         8 | 1,597   | 738       |         859 | 44,466  |
|         9 | 1,597   | 752       |         845 | 43,713  |
|        10 | 1,597   | 767       |         830 | 42,947  |
|        11 | 1,597   | 781       |         816 | 42,166  |
|        12 | 1,597   | 796       |         801 | 41,370  |
|        13 | 1,597   | 811       |         786 | 40,559  |
|        14 | 1,597   | 826       |         771 | 39,732  |
|        15 | 1,597   | 842       |         755 | 38,890  |
|        16 | 1,597   | 858       |         739 | 38,032  |
|        17 | 1,597   | 874       |         723 | 37,157  |
|        18 | 1,597   | 891       |         706 | 36,266  |
|        19 | 1,597   | 908       |         689 | 35,358  |
|        20 | 1,597   | 925       |         672 | 34,433  |
|        21 | 1,597   | 943       |         654 | 33,490  |
|        22 | 1,597   | 961       |         636 | 32,529  |
|        23 | 1,597   | 979       |         618 | 31,550  |
|        24 | 1,597   | 998       |         599 | 30,552  |
|        25 | 1,597   | 1,017     |         580 | 29,536  |
|        26 | 1,597   | 1,036     |         561 | 28,500  |
|        27 | 1,597   | 1,056     |         541 | 27,444  |
|        28 | 1,597   | 1,076     |         521 | 26,369  |
|        29 | 1,597   | 1,096     |         501 | 25,273  |
|        30 | 1,597   | 1,117     |         480 | 24,156  |
|        31 | 1,597   | 1,138     |         459 | 23,017  |
|        32 | 1,597   | 1,160     |         437 | 21,858  |
|        33 | 1,597   | 1,182     |         415 | 20,676  |
|        34 | 1,597   | 1,204     |         393 | 19,472  |
|        35 | 1,597   | 1,227     |         370 | 18,245  |
|        36 | 1,597   | 1,250     |         347 | 16,994  |
|        37 | 1,597   | 1,274     |         323 | 15,720  |
|        38 | 1,597   | 1,298     |         299 | 14,421  |
|        39 | 1,597   | 1,323     |         274 | 13,098  |
|        40 | 1,597   | 1,348     |         249 | 11,750  |
|        41 | 1,597   | 1,374     |         223 | 10,376  |
|        42 | 1,597   | 1,400     |         197 | 8,976   |
|        43 | 1,597   | 1,427     |         170 | 7,550   |
|        44 | 1,597   | 1,454     |         143 | 6,096   |
|        45 | 1,597   | 1,481     |         116 | 4,615   |
|        46 | 1,597   | 1,509     |          88 | 3,105   |
|        47 | 1,597   | 1,538     |          59 | 1,567   |
|        48 | 1,597   | 1,567     |          30 | -0      |
+-----------+---------+-----------+-------------+---------+

In [ ]:
import numpy_financial as npf                 # ULTIMO CREDITO
import tabulate as tab

In [ ]:
capital = 48000
tasa = 0.029166   # 35%
tasa_adicional = 0                              # NO ESTAN COBRANDO EL IVA DE LOS INTERESES
tasa_total = tasa + tasa_adicional
plazo = 60
cuota = round(npf.pmt(tasa_total, plazo, -capital, 0), 0)
datos = []
saldo = capital

In [ ]:
for i in range(1, plazo + 1):
    pago_capital = npf.ppmt(tasa ,i, plazo, -capital, 0)
    pago_int = cuota - pago_capital
    saldo -= pago_capital
    linea = [i,format( cuota, "0,.0f"), format(pago_capital, "0,.0f"),
            format(pago_int, "0,.0f"),format(saldo, "0,.0f")]
    datos.append(linea)

print(tab.tabulate(datos, headers = ["Periodo", "Cuota", "Capital", "Intereses","saldo"],
      tablefmt = "psql"))

+-----------+---------+-----------+-------------+---------+
|   Periodo | Cuota   | Capital   | Intereses   | saldo   |
|-----------+---------+-----------+-------------+---------|
|         1 | 1,704   | 304       | 1,400       | 47,696  |
|         2 | 1,704   | 312       | 1,392       | 47,384  |
|         3 | 1,704   | 322       | 1,382       | 47,063  |
|         4 | 1,704   | 331       | 1,373       | 46,732  |
|         5 | 1,704   | 341       | 1,363       | 46,391  |
|         6 | 1,704   | 350       | 1,354       | 46,041  |
|         7 | 1,704   | 361       | 1,343       | 45,680  |
|         8 | 1,704   | 371       | 1,333       | 45,309  |
|         9 | 1,704   | 382       | 1,322       | 44,927  |
|        10 | 1,704   | 393       | 1,311       | 44,534  |
|        11 | 1,704   | 405       | 1,299       | 44,129  |
|        12 | 1,704   | 416       | 1,288       | 43,712  |
|        13 | 1,704   | 429       | 1,275       | 43,284  |
|        14 | 1,704   | 441       | 1,263       | 42,843  |
|        15 | 1,704   | 454       | 1,250       | 42,389  |
|        16 | 1,704   | 467       | 1,237       | 41,922  |
|        17 | 1,704   | 481       | 1,223       | 41,441  |
|        18 | 1,704   | 495       | 1,209       | 40,946  |
|        19 | 1,704   | 509       | 1,195       | 40,437  |
|        20 | 1,704   | 524       | 1,180       | 39,913  |
|        21 | 1,704   | 539       | 1,165       | 39,373  |
|        22 | 1,704   | 555       | 1,149       | 38,818  |
|        23 | 1,704   | 571       | 1,133       | 38,247  |
|        24 | 1,704   | 588       | 1,116       | 37,659  |
|        25 | 1,704   | 605       | 1,099       | 37,053  |
|        26 | 1,704   | 623       | 1,081       | 36,431  |
|        27 | 1,704   | 641       | 1,063       | 35,790  |
|        28 | 1,704   | 660       | 1,044       | 35,130  |
|        29 | 1,704   | 679       | 1,025       | 34,451  |
|        30 | 1,704   | 699       | 1,005       | 33,752  |
|        31 | 1,704   | 719       | 985         | 33,033  |
|        32 | 1,704   | 740       | 964         | 32,293  |
|        33 | 1,704   | 762       | 942         | 31,532  |
|        34 | 1,704   | 784       | 920         | 30,748  |
|        35 | 1,704   | 807       | 897         | 29,941  |
|        36 | 1,704   | 830       | 874         | 29,111  |
|        37 | 1,704   | 854       | 850         | 28,256  |
|        38 | 1,704   | 879       | 825         | 27,377  |
|        39 | 1,704   | 905       | 799         | 26,472  |
|        40 | 1,704   | 931       | 773         | 25,540  |
|        41 | 1,704   | 959       | 745         | 24,582  |
|        42 | 1,704   | 987       | 717         | 23,595  |
|        43 | 1,704   | 1,015     | 689         | 22,580  |
|        44 | 1,704   | 1,045     | 659         | 21,535  |
|        45 | 1,704   | 1,075     | 629         | 20,460  |
|        46 | 1,704   | 1,107     | 597         | 19,353  |
|        47 | 1,704   | 1,139     | 565         | 18,214  |
|        48 | 1,704   | 1,172     | 532         | 17,041  |
|        49 | 1,704   | 1,206     | 498         | 15,835  |
|        50 | 1,704   | 1,242     | 462         | 14,593  |
|        51 | 1,704   | 1,278     | 426         | 13,315  |
|        52 | 1,704   | 1,315     | 389         | 12,000  |
|        53 | 1,704   | 1,354     | 350         | 10,647  |
|        54 | 1,704   | 1,393     | 311         | 9,254   |
|        55 | 1,704   | 1,434     | 270         | 7,820   |
|        56 | 1,704   | 1,475     | 229         | 6,345   |
|        57 | 1,704   | 1,518     | 186         | 4,826   |
|        58 | 1,704   | 1,563     | 141         | 3,264   |
|        59 | 1,704   | 1,608     | 96          | 1,655   |
|        60 | 1,704   | 1,655     | 49          | 0       |
+-----------+---------+-----------+-------------+---------+

In [ ]:
import numpy_financial as npf                     # PACO , Crédito del 10/Junio/24
import tabulate as tab

In [ ]:
capital = 48000                                  # Para calcular el IVA de los intereses , calculé
tasa = 0.35 / 12                                 # una tasa adicional lo mas cercano a esta cantidad
tasa_adicional = .0064                           # y establecer una tasa total como la suma de la tasa
tasa_total = tasa + tasa_adicional               # tasa + tasa adicional cuya cantidad ya aparece en
plazo = 60                                       # la tabla de amortización
cuota = round(npf.pmt(tasa_total, plazo, -capital, 0), 0)
datos = []
saldo = capital                                   # CALCULADO CON EL IVA DE LOS INTERESES

In [ ]:

for i in range(1, plazo + 1):
    pago_capital = npf.ppmt(tasa ,i, plazo, -capital, 0)
    pago_int = cuota - pago_capital
    saldo -= pago_capital
    linea = [i,format( cuota, "0,.0f"), format(pago_capital, "0,.0f"),
            format(pago_int, "0,.0f"),format(saldo, "0,.0f")]
    datos.append(linea)

print(tab.tabulate(datos, headers = ["Periodo", "Cuota", "Capital", "Intereses","saldo"],
      tablefmt = "psql"))

+-----------+---------+-----------+-------------+---------+
|   Periodo | Cuota   | Capital   | Intereses   | saldo   |
|-----------+---------+-----------+-------------+---------|
|         1 | 1,946   | 304       | 1,642       | 47,696  |
|         2 | 1,946   | 312       | 1,634       | 47,384  |
|         3 | 1,946   | 321       | 1,625       | 47,063  |
|         4 | 1,946   | 331       | 1,615       | 46,732  |
|         5 | 1,946   | 341       | 1,605       | 46,391  |
|         6 | 1,946   | 350       | 1,596       | 46,041  |
|         7 | 1,946   | 361       | 1,585       | 45,680  |
|         8 | 1,946   | 371       | 1,575       | 45,309  |
|         9 | 1,946   | 382       | 1,564       | 44,927  |
|        10 | 1,946   | 393       | 1,553       | 44,534  |
|        11 | 1,946   | 405       | 1,541       | 44,129  |
|        12 | 1,946   | 416       | 1,530       | 43,713  |
|        13 | 1,946   | 429       | 1,517       | 43,284  |
|        14 | 1,946   | 441       | 1,505       | 42,843  |
|        15 | 1,946   | 454       | 1,492       | 42,389  |
|        16 | 1,946   | 467       | 1,479       | 41,922  |
|        17 | 1,946   | 481       | 1,465       | 41,441  |
|        18 | 1,946   | 495       | 1,451       | 40,946  |
|        19 | 1,946   | 509       | 1,437       | 40,437  |
|        20 | 1,946   | 524       | 1,422       | 39,913  |
|        21 | 1,946   | 539       | 1,407       | 39,373  |
|        22 | 1,946   | 555       | 1,391       | 38,818  |
|        23 | 1,946   | 571       | 1,375       | 38,247  |
|        24 | 1,946   | 588       | 1,358       | 37,659  |
|        25 | 1,946   | 605       | 1,341       | 37,054  |
|        26 | 1,946   | 623       | 1,323       | 36,431  |
|        27 | 1,946   | 641       | 1,305       | 35,790  |
|        28 | 1,946   | 660       | 1,286       | 35,130  |
|        29 | 1,946   | 679       | 1,267       | 34,451  |
|        30 | 1,946   | 699       | 1,247       | 33,753  |
|        31 | 1,946   | 719       | 1,227       | 33,034  |
|        32 | 1,946   | 740       | 1,206       | 32,293  |
|        33 | 1,946   | 762       | 1,184       | 31,532  |
|        34 | 1,946   | 784       | 1,162       | 30,748  |
|        35 | 1,946   | 807       | 1,139       | 29,941  |
|        36 | 1,946   | 830       | 1,116       | 29,111  |
|        37 | 1,946   | 854       | 1,092       | 28,257  |
|        38 | 1,946   | 879       | 1,067       | 27,377  |
|        39 | 1,946   | 905       | 1,041       | 26,472  |
|        40 | 1,946   | 931       | 1,015       | 25,541  |
|        41 | 1,946   | 959       | 987         | 24,582  |
|        42 | 1,946   | 987       | 959         | 23,596  |
|        43 | 1,946   | 1,015     | 931         | 22,580  |
|        44 | 1,946   | 1,045     | 901         | 21,535  |
|        45 | 1,946   | 1,075     | 871         | 20,460  |
|        46 | 1,946   | 1,107     | 839         | 19,353  |
|        47 | 1,946   | 1,139     | 807         | 18,214  |
|        48 | 1,946   | 1,172     | 774         | 17,042  |
|        49 | 1,946   | 1,206     | 740         | 15,835  |
|        50 | 1,946   | 1,242     | 704         | 14,593  |
|        51 | 1,946   | 1,278     | 668         | 13,316  |
|        52 | 1,946   | 1,315     | 631         | 12,000  |
|        53 | 1,946   | 1,354     | 592         | 10,647  |
|        54 | 1,946   | 1,393     | 553         | 9,254   |
|        55 | 1,946   | 1,434     | 512         | 7,820   |
|        56 | 1,946   | 1,475     | 471         | 6,345   |
|        57 | 1,946   | 1,518     | 428         | 4,826   |
|        58 | 1,946   | 1,563     | 383         | 3,264   |
|        59 | 1,946   | 1,608     | 338         | 1,655   |
|        60 | 1,946   | 1,655     | 291         | -0      |
+-----------+---------+-----------+-------------+---------+

In [ ]:
import pandas as pd
import numpy_financial as npf

In [ ]:
monto_prestamo = 268000
plazo_meses = 60
tasa_interes_mensual = .024166
cargo_interes = 0.005

In [ ]:
pago_mensual = npf.pmt(tasa_interes_mensual,plazo_meses, - monto_prestamo)

In [ ]:
import pandas as pd
import numpy_financial as npf

capital = 268000
tasa = 0.024166
plazo = 60
#periodos = 12
#cuota = monto * (tasa / 12) / (1 -( 1 -( 1 + tasa)** (-periodos)))
cuota = -round(npf.pmt(tasa, plazo, capital),2)
datos = []

for i in range(1, plazo+1):
    pago_interes = round(npf.ipmt(tasa,i,plazo, capital), 2)
    pago_capital = round(npf.ppmt(tasa,i,plazo,capital), 2)
    saldo += pago_capital
    # Añadir una fila con los datos del periodo a la lista
    datos.append([i, cuota, pago_capital, pago_interes, saldo])
    # Convertir la lista en un DataFrame de pandas
    tabla = pd.DataFrame(datos,columns=["Periodo","Cuota","Pago Capital","Pago Interes","Saldo"])
    # Mostrar la tabla
    print(tabla)

TypeError: type numpy.ndarray doesn't define __round__ method

##### Answer (3)

In [ ]:
import numpy_financial as npf
import pandas as pd
import tabulate as tab

In [ ]:
capital = 268000
tasa = .29 / 12
tasa_adicional = .0062
tasa_total = tasa + tasa_adicional
plazo = 60
cuota = npf.pmt (tasa_total, plazo, -capital)

print(f"El pago periódico es {cuota:.2f}")

El pago periódico es 9759.83

In [ ]:
# Lista vacía para guardar los datos de la tabla
datos = []

In [ ]:
saldo = capital
for i in range (1 , plazo + 1):
    pago_capital = npf.ppmt (tasa_total, i, plazo, -capital)
    pago_int = cuota - pago_capital
    saldo -= pago_capital
    datos.append([i, cuota, pago_capital, pago_int, saldo])

In [ ]:
#Crear un dataframe con los datos de la tabla
columnas = ["Periodo","Pago","Capital","Interes","Saldo"]
tabla = pd.DataFrame (datos, columns=columnas)

print(tabla)

    Periodo         Pago      Capital      Interes         Saldo
0         1  9759.831402  1621.564735  8138.266667  2.663784e+05
1         2  9759.831402  1670.806251  8089.025151  2.647076e+05
2         3  9759.831402  1721.543067  8038.288334  2.629861e+05
3         4  9759.831402  1773.820592  7986.010810  2.612123e+05
4         5  9759.831402  1827.685611  7932.145791  2.593846e+05
5         6  9759.831402  1883.186330  7876.645072  2.575014e+05
6         7  9759.831402  1940.372422  7819.458980  2.555610e+05
7         8  9759.831402  1999.295064  7760.536337  2.535617e+05
8         9  9759.831402  2060.006991  7699.824411  2.515017e+05
9        10  9759.831402  2122.562537  7637.268865  2.493792e+05
10       11  9759.831402  2187.017686  7572.813716  2.471921e+05
11       12  9759.831402  2253.430123  7506.401279  2.449387e+05
12       13  9759.831402  2321.859284  7437.972118  2.426168e+05
13       14  9759.831402  2392.366411  7367.464991  2.402245e+05
14       15  9759.831402  2465.014605  7294.816797  2.377595e+05
15       16  9759.831402  2539.868881  7219.962520  2.352196e+05
16       17  9759.831402  2616.996233  7142.835169  2.326026e+05
17       18  9759.831402  2696.465685  7063.365716  2.299061e+05
18       19  9759.831402  2778.348360  6981.483042  2.271278e+05
19       20  9759.831402  2862.717539  6897.113863  2.242651e+05
20       21  9759.831402  2949.648728  6810.182674  2.213154e+05
21       22  9759.831402  3039.219728  6720.611674  2.182762e+05
22       23  9759.831402  3131.510700  6628.320702  2.151447e+05
23       24  9759.831402  3226.604241  6533.227160  2.119181e+05
24       25  9759.831402  3324.585457  6435.245945  2.085935e+05
25       26  9759.831402  3425.542035  6334.289366  2.051680e+05
26       27  9759.831402  3529.564328  6230.267073  2.016384e+05
27       28  9759.831402  3636.745432  6123.085970  1.980017e+05
28       29  9759.831402  3747.181268  6012.650134  1.942545e+05
29       30  9759.831402  3860.970673  5898.860729  1.903935e+05
30       31  9759.831402  3978.215482  5781.615920  1.864153e+05
31       32  9759.831402  4099.020626  5660.810776  1.823163e+05
32       33  9759.831402  4223.494219  5536.337183  1.780928e+05
33       34  9759.831402  4351.747660  5408.083742  1.737410e+05
34       35  9759.831402  4483.895730  5275.935672  1.692571e+05
35       36  9759.831402  4620.056697  5139.774704  1.646371e+05
36       37  9759.831402  4760.352419  4999.478983  1.598767e+05
37       38  9759.831402  4904.908454  4854.922948  1.549718e+05
38       39  9759.831402  5053.854174  4705.977228  1.499180e+05
39       40  9759.831402  5207.322879  4552.508523  1.447106e+05
40       41  9759.831402  5365.451917  4394.379484  1.393452e+05
41       42  9759.831402  5528.382807  4231.448595  1.338168e+05
42       43  9759.831402  5696.261365  4063.570037  1.281205e+05
43       44  9759.831402  5869.237835  3890.593566  1.222513e+05
44       45  9759.831402  6047.467024  3712.364378  1.162038e+05
45       46  9759.831402  6231.108440  3528.722962  1.099727e+05
46       47  9759.831402  6420.326433  3339.504969  1.035524e+05
47       48  9759.831402  6615.290345  3144.541057  9.693710e+04
48       49  9759.831402  6816.174662  2943.656740  9.012093e+04
49       50  9759.831402  7023.159166  2736.672236  8.309777e+04
50       51  9759.831402  7236.429099  2523.402303  7.586134e+04
51       52  9759.831402  7456.175330  2303.656072  6.840517e+04
52       53  9759.831402  7682.594520  2077.236881  6.072257e+04
53       54  9759.831402  7915.889307  1843.942094  5.280668e+04
54       55  9759.831402  8156.268479  1603.562923  4.465041e+04
55       56  9759.831402  8403.947165  1355.884236  3.624647e+04
56       57  9759.831402  8659.147028  1100.684374  2.758732e+04
57       58  9759.831402  8922.096459   837.734943  1.866522e+04
58       59  9759.831402  9193.030788   566.800614  9.472192e+03
59       60  9759.831402  9472.192490   287.638912 -3.001333e-10

In [ ]:
import numpy_financial as npf
import pandas as pd
import tabulate as tab

In [ ]:
capital = 190000
tasa = .325 / 12
tasa_adicional = .0064
tasa_total = tasa + tasa_adicional
plazo = 60
cuota = npf.pmt (tasa_total, plazo, -capital)

print(f"El pago periódico es {cuota:.2f}")

El pago periódico es 7385.53

In [ ]:
# Lista vacía para guardar los datos de la tabla
datos = []

In [ ]:
saldo = capital
for i in range (1 , plazo + 1):
    pago_capital = npf.ppmt (tasa_total, i, plazo, -capital)
    pago_int = cuota - pago_capital
    saldo -= pago_capital
    datos.append([i, cuota, pago_capital, pago_int, saldo])

In [ ]:
#Crear un dataframe con los datos de la tabla
columnas = ["Periodo","Pago","Capital","Interes","Saldo"]          # MUY BIEN
tabla = pd.DataFrame (datos, columns=columnas)

print(tabla)

    Periodo         Pago      Capital      Interes          Saldo
0         1  7385.534762  1023.690653  6361.844109  188976.309347
1         2  7385.534762  1057.967228  6327.567534  187918.342119
2         3  7385.534762  1093.391498  6292.143264  186824.950621
3         4  7385.534762  1130.001890  6255.532872  185694.948732
4         5  7385.534762  1167.838120  6217.696643  184527.110612
5         6  7385.534762  1206.941233  6178.593529  183320.169379
6         7  7385.534762  1247.353648  6138.181114  182072.815731
7         8  7385.534762  1289.119206  6096.415556  180783.696525
8         9  7385.534762  1332.283214  6053.251548  179451.413311
9        10  7385.534762  1376.892497  6008.642265  178074.520814
10       11  7385.534762  1422.995448  5962.539314  176651.525366
11       12  7385.534762  1470.642079  5914.892683  175180.883287
12       13  7385.534762  1519.884078  5865.650685  173660.999210
13       14  7385.534762  1570.774863  5814.759899  172090.224347
14       15  7385.534762  1623.369641  5762.165121  170466.854706
15       16  7385.534762  1677.725468  5707.809294  168789.129238
16       17  7385.534762  1733.901309  5651.633453  167055.227929
17       18  7385.534762  1791.958104  5593.576658  165263.269825
18       19  7385.534762  1851.958835  5533.575927  163411.310990
19       20  7385.534762  1913.968590  5471.566172  161497.342400
20       21  7385.534762  1978.054638  5407.480124  159519.287762
21       22  7385.534762  2044.286501  5341.248261  157475.001261
22       23  7385.534762  2112.736027  5272.798735  155362.265234
23       24  7385.534762  2183.477472  5202.057290  153178.787762
24       25  7385.534762  2256.587576  5128.947186  150922.200186
25       26  7385.534762  2332.145650  5053.389112  148590.054536
26       27  7385.534762  2410.233660  4975.301102  146179.820875
27       28  7385.534762  2490.936317  4894.598445  143688.884558
28       29  7385.534762  2574.341168  4811.193594  141114.543390
29       30  7385.534762  2660.538692  4724.996070  138454.004698
30       31  7385.534762  2749.622396  4635.912366  135704.382302
31       32  7385.534762  2841.688919  4543.845843  132862.693384
32       33  7385.534762  2936.838136  4448.696626  129925.855248
33       34  7385.534762  3035.173266  4350.361496  126890.681981
34       35  7385.534762  3136.800985  4248.733777  123753.880997
35       36  7385.534762  3241.831538  4143.703225  120512.049459
36       37  7385.534762  3350.378864  4035.155899  117161.670596
37       38  7385.534762  3462.560716  3922.974046  113699.109880
38       39  7385.534762  3578.498790  3807.035972  110120.611089
39       40  7385.534762  3698.318858  3687.215904  106422.292231
40       41  7385.534762  3822.150901  3563.383861  102600.141330
41       42  7385.534762  3950.129254  3435.405508   98650.012076
42       43  7385.534762  4082.392749  3303.142013   94567.619327
43       44  7385.534762  4219.084866  3166.449896   90348.534461
44       45  7385.534762  4360.353891  3025.180871   85988.180571
45       46  7385.534762  4506.353073  2879.181689   81481.827497
46       47  7385.534762  4657.240796  2728.293966   76824.586702
47       48  7385.534762  4813.180742  2572.354021   72011.405960
48       49  7385.534762  4974.342077  2411.192685   67037.063883
49       50  7385.534762  5140.899631  2244.635131   61896.164253
50       51  7385.534762  5313.034087  2072.500676   56583.130166
51       52  7385.534762  5490.932178  1894.602584   51092.197988
52       53  7385.534762  5674.786890  1710.747872   45417.411098
53       54  7385.534762  5864.797671  1520.737091   39552.613427
54       55  7385.534762  6061.170647  1324.364115   33491.442780
55       56  7385.534762  6264.118844  1121.415918   27227.323936
56       57  7385.534762  6473.862423   911.672339   20753.461513
57       58  7385.534762  6690.628917   694.905845   14062.832597
58       59  7385.534762  6914.653475   470.881287    7148.179122
59       60  7385.534762  7146.179122   239.355640       2.000000

In [ ]:
capital = 268000                # Encontré esta forma para reflejar el IVA en el interes
tasa = .365 / 12                # al llevar la tasa del 29% al 36.5% , en virtud que el
plazo = 5 * 12                  # IVA se aplica solo a los intereses.
cuota = -npf.pmt (tasa, plazo, capital,0)

print(f"El pago periódico es {cuota:.2f}")             # ESTE EJEMPLO ES EL MEJOR

El pago periódico es 9770.24

In [ ]:
datos = []

In [ ]:
saldo = capital
for i in range (1 , plazo + 1):
    pago_capital = round(npf.ppmt (tasa, i, plazo, -capital),2)
    pago_int = cuota - pago_capital
    saldo -= pago_capital
    datos.append([i, cuota, pago_capital, pago_int, saldo])

In [ ]:
columnas = ["Periodo","Pago","Capital","Interes","Saldo"]
tabla = pd.DataFrame (datos, columns=columnas)

print(tabla)

    Periodo         Pago  Capital      Interes      Saldo
0         1  9770.241662  1618.57  8151.671662  266381.43
1         2  9770.241662  1667.81  8102.431662  264713.62
2         3  9770.241662  1718.54  8051.701662  262995.08
3         4  9770.241662  1770.81  7999.431662  261224.27
4         5  9770.241662  1824.67  7945.571662  259399.60
5         6  9770.241662  1880.17  7890.071662  257519.43
6         7  9770.241662  1937.36  7832.881662  255582.07
7         8  9770.241662  1996.29  7773.951662  253585.78
8         9  9770.241662  2057.01  7713.231662  251528.77
9        10  9770.241662  2119.57  7650.671662  249409.20
10       11  9770.241662  2184.04  7586.201662  247225.16
11       12  9770.241662  2250.48  7519.761662  244974.68
12       13  9770.241662  2318.93  7451.311662  242655.75
13       14  9770.241662  2389.46  7380.781662  240266.29
14       15  9770.241662  2462.14  7308.101662  237804.15
15       16  9770.241662  2537.03  7233.211662  235267.12
16       17  9770.241662  2614.20  7156.041662  232652.92
17       18  9770.241662  2693.72  7076.521662  229959.20
18       19  9770.241662  2775.65  6994.591662  227183.55
19       20  9770.241662  2860.08  6910.161662  224323.47
20       21  9770.241662  2947.07  6823.171662  221376.40
21       22  9770.241662  3036.71  6733.531662  218339.69
22       23  9770.241662  3129.08  6641.161662  215210.61
23       24  9770.241662  3224.25  6545.991662  211986.36
24       25  9770.241662  3322.32  6447.921662  208664.04
25       26  9770.241662  3423.38  6346.861662  205240.66
26       27  9770.241662  3527.50  6242.741662  201713.16
27       28  9770.241662  3634.80  6135.441662  198078.36
28       29  9770.241662  3745.36  6024.881662  194333.00
29       30  9770.241662  3859.28  5910.961662  190473.72
30       31  9770.241662  3976.67  5793.571662  186497.05
31       32  9770.241662  4097.62  5672.621662  182399.43
32       33  9770.241662  4222.26  5547.981662  178177.17
33       34  9770.241662  4350.69  5419.551662  173826.48
34       35  9770.241662  4483.02  5287.221662  169343.46
35       36  9770.241662  4619.38  5150.861662  164724.08
36       37  9770.241662  4759.88  5010.361662  159964.20
37       38  9770.241662  4904.66  4865.581662  155059.54
38       39  9770.241662  5053.85  4716.391662  150005.69
39       40  9770.241662  5207.57  4562.671662  144798.12
40       41  9770.241662  5365.96  4404.281662  139432.16
41       42  9770.241662  5529.18  4241.061662  133902.98
42       43  9770.241662  5697.36  4072.881662  128205.62
43       44  9770.241662  5870.65  3899.591662  122334.97
44       45  9770.241662  6049.22  3721.021662  116285.75
45       46  9770.241662  6233.22  3537.021662  110052.53
46       47  9770.241662  6422.81  3347.431662  103629.72
47       48  9770.241662  6618.17  3152.071662   97011.55
48       49  9770.241662  6819.47  2950.771662   90192.08
49       50  9770.241662  7026.90  2743.341662   83165.18
50       51  9770.241662  7240.63  2529.611662   75924.55
51       52  9770.241662  7460.87  2309.371662   68463.68
52       53  9770.241662  7687.80  2082.441662   60775.88
53       54  9770.241662  7921.64  1848.601662   52854.24
54       55  9770.241662  8162.59  1607.651662   44691.65
55       56  9770.241662  8410.87  1359.371662   36280.78
56       57  9770.241662  8666.70  1103.541662   27614.08
57       58  9770.241662  8930.31   839.931662   18683.77
58       59  9770.241662  9201.94   568.301662    9481.83
59       60  9770.241662  9481.84   288.401662      -0.01

In [ ]:
import numpy_financial as npf
from tabulate import tabulate
import pandas as pd

In [ ]:
capital = 268000                          # Para calcular el IVA de los intereses,apliqué
tasa = .365                                 # el 36.5% en lugar del 29% .
plazo = 5
periodos = plazo * 12

pago = ( npf.pmt( tasa / 12, periodos, -capital),2)
tabla = []
# Iterar sobre cada periodo
for i in range(1, periodos + 1):
    interes = npf.ipmt(tasa / 12, i, periodos, -capital)
    amortizacion = npf.ppmt(tasa / 12, i , periodos, -capital)
# Calcular el saldo pendiente al final del periodo
    saldo = (capital - amortizacion,2)
# Añadir la fila correspondiente a la tabla
    tabla.append([i, pago, interes, amortizacion, saldo])
#Actualizar el capital para el siguiente periodo
    saldo -= capital

encabezados = ["Periodo","Pago","Interes","Amortización", "Saldo"]

# Imprimir la tabla usando la función tabulate
print(tabulate(tabla, encabezados,tablefmt = "fancy_grid"))

TypeError: unsupported operand type(s) for -=: 'tuple' and 'int'

In [ ]:
import numpy_financial as npf
import tabulate as tab

In [ ]:
capital = 190000
tasa = .40 / 12      # 32.5% / 12       # Aumenta el 23%
plazo = 60

cuota = (npf.pmt(tasa, plazo, -capital, 0))                  # MUY BIEN

datos = []
saldo = capital

In [ ]:
for i in range(1, plazo + 1):
    pago_capital =  npf.ppmt(tasa,i, plazo, -capital)
    pago_int = cuota - pago_capital
    saldo -= pago_capital
    linea = [i, format(cuota, "0,.0f"), format(pago_capital, "0,.0f"),
            format(pago_int , "0,.0f"),format(saldo, "0,.0f")]
    datos.append(linea)

print(tab.tabulate(datos, headers=["Periodo", "Cuota", "Capital", "saldo"],
                  tablefmt = "psql"))

+----+-----------+---------+-----------+---------+
|    | Periodo   | Cuota   | Capital   | saldo   |
|----+-----------+---------+-----------+---------|
|  1 | 7,363     | 1,029   | 6,333     | 188,971 |
|  2 | 7,363     | 1,064   | 6,299     | 187,907 |
|  3 | 7,363     | 1,099   | 6,264     | 186,807 |
|  4 | 7,363     | 1,136   | 6,227     | 185,672 |
|  5 | 7,363     | 1,174   | 6,189     | 184,498 |
|  6 | 7,363     | 1,213   | 6,150     | 183,285 |
|  7 | 7,363     | 1,253   | 6,109     | 182,032 |
|  8 | 7,363     | 1,295   | 6,068     | 180,737 |
|  9 | 7,363     | 1,338   | 6,025     | 179,398 |
| 10 | 7,363     | 1,383   | 5,980     | 178,015 |
| 11 | 7,363     | 1,429   | 5,934     | 176,586 |
| 12 | 7,363     | 1,477   | 5,886     | 175,110 |
| 13 | 7,363     | 1,526   | 5,837     | 173,584 |
| 14 | 7,363     | 1,577   | 5,786     | 172,007 |
| 15 | 7,363     | 1,629   | 5,734     | 170,378 |
| 16 | 7,363     | 1,684   | 5,679     | 168,695 |
| 17 | 7,363     | 1,740   | 5,623     | 166,955 |
| 18 | 7,363     | 1,798   | 5,565     | 165,157 |
| 19 | 7,363     | 1,858   | 5,505     | 163,300 |
| 20 | 7,363     | 1,919   | 5,443     | 161,380 |
| 21 | 7,363     | 1,983   | 5,379     | 159,397 |
| 22 | 7,363     | 2,050   | 5,313     | 157,347 |
| 23 | 7,363     | 2,118   | 5,245     | 155,229 |
| 24 | 7,363     | 2,189   | 5,174     | 153,041 |
| 25 | 7,363     | 2,261   | 5,101     | 150,779 |
| 26 | 7,363     | 2,337   | 5,026     | 148,442 |
| 27 | 7,363     | 2,415   | 4,948     | 146,028 |
| 28 | 7,363     | 2,495   | 4,868     | 143,532 |
| 29 | 7,363     | 2,578   | 4,784     | 140,954 |
| 30 | 7,363     | 2,664   | 4,698     | 138,290 |
| 31 | 7,363     | 2,753   | 4,610     | 135,537 |
| 32 | 7,363     | 2,845   | 4,518     | 132,692 |
| 33 | 7,363     | 2,940   | 4,423     | 129,752 |
| 34 | 7,363     | 3,038   | 4,325     | 126,714 |
| 35 | 7,363     | 3,139   | 4,224     | 123,575 |
| 36 | 7,363     | 3,244   | 4,119     | 120,332 |
| 37 | 7,363     | 3,352   | 4,011     | 116,980 |
| 38 | 7,363     | 3,463   | 3,899     | 113,516 |
| 39 | 7,363     | 3,579   | 3,784     | 109,937 |
| 40 | 7,363     | 3,698   | 3,665     | 106,239 |
| 41 | 7,363     | 3,822   | 3,541     | 102,418 |
| 42 | 7,363     | 3,949   | 3,414     | 98,469  |
| 43 | 7,363     | 4,081   | 3,282     | 94,388  |
| 44 | 7,363     | 4,217   | 3,146     | 90,172  |
| 45 | 7,363     | 4,357   | 3,006     | 85,815  |
| 46 | 7,363     | 4,502   | 2,860     | 81,312  |
| 47 | 7,363     | 4,652   | 2,710     | 76,660  |
| 48 | 7,363     | 4,807   | 2,555     | 71,852  |
| 49 | 7,363     | 4,968   | 2,395     | 66,885  |
| 50 | 7,363     | 5,133   | 2,229     | 61,751  |
| 51 | 7,363     | 5,304   | 2,058     | 56,447  |
| 52 | 7,363     | 5,481   | 1,882     | 50,966  |
| 53 | 7,363     | 5,664   | 1,699     | 45,302  |
| 54 | 7,363     | 5,853   | 1,510     | 39,449  |
| 55 | 7,363     | 6,048   | 1,315     | 33,401  |
| 56 | 7,363     | 6,249   | 1,113     | 27,152  |
| 57 | 7,363     | 6,458   | 905       | 20,694  |
| 58 | 7,363     | 6,673   | 690       | 14,021  |
| 59 | 7,363     | 6,895   | 467       | 7,125   |
| 60 | 7,363     | 7,125   | 238       | 0       |
+----+-----------+---------+-----------+---------+

In [ ]:
capital = 268000
tasa = .365/ 12
plazo = 5 * 12                                       # Solo el cálculo del pago mensual
cuota = round(npf.pmt(tasa, plazo, -capital),2)
cuota

9770.24

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
monto_prestamo = 268000
tasa_interes = 0.29
plazo_años = 5

In [ ]:
num_pagos = plazo_años*12
tasa_mensual = tasa_interes / 12
pago_mensual = monto_prestamo * (tasa_mensual/(1-np.power((1 + tasa_mensual),- num_pagos)))